
body{
    background-color:whitesmoke;
    margin:0px;
    padding:0px;
   
}
header{
    background-image: url('https://s3-eu-west-1.amazonaws.com/images.linnlive.com/0d5180a37a8de3cf76052639384dd66f/f3f5fc9d-303f-427b-a8cc-b107fc19135c.jpg');
    background-size: cover;
    width: 100%;
    text-align: center;
    color:white;
    font-family: cursive;
    display: inline-block;
height:200px;
}
#welcome{
    font-size:70px;
    padding: 75px;
}

h1{

    text-align:center;
    background-color: lightcoral;
    padding:15px;
color:white;
display: inline-block;
margin-left:500px;
width:300px;
height: 60px;
border-radius: 5px;
font-family:'Times New Roman', Times, serif
}
h1:hover{
    background-color: white;
    color: lightcoral;
}
p{
    width:50%;
    overflow:hidden;
    background-color:white ;
    margin: 20px auto;
    box-shadow: -10px 10px 20px lightcoral;
    color:lightcoral;
    font-size: 17px;
line-height:1cm;
height: 100px;
padding:20px;
font-family:'Times New Roman', Times, serif   
} 
p:hover{
    color:white;
    background-color: lightcoral;
}
span{
    font-weight: bold;
}
.containor{
    width:50%;
    overflow:hidden;
    background-color:white ;
    margin: 20px auto;
    box-shadow: -10px 10px 20px lightcoral;
    color:lightcoral;
    font-size: 17px;

}
.containor:hover{
    color:white;
    background-color: lightcoral;
}

.ol{
    width:50%;
   height: 90px;
    background-color:white ;
    margin: 10px auto;
    box-shadow: -10px 10px 20px lightcoral;
    color:lightcoral; 
    font-size: 17px;
    line-height:1cm;
    padding:30px;
    font-family:'Times New Roman', Times, serif;
}
.ol:hover{
    color:white;
    background-color: lightcoral;
}

ol li{
display:inline;
margin:20px;
}

